body {
    font-family: 'Noto Serif', serif;
}

.container {
    background-color: tomato;
}

/* to style the placeholder text in the textarea */
::placeholder {
    text-align: center;
    padding-top: 100px;
}